
header nav {
    width: 100vw;
    height: 4.4rem;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul li {
    flex-direction: row;
    list-style: none;
    
}

header nav ul li img {
    width: 4.2rem;
    margin: 0 0.5rem;
}

header nav ul li a {
    text-decoration: none;
}

header nav ul li a h2 {
    color: var(--color-fonte-normal);
    font-weight: 700;
    font-style: italic;
    font-size: 1.6rem;
    font-family: Montserrat;
    text-transform: uppercase;
}

@media (min-width: 700px ){
    header nav {
        height: 6rem;
    }

    header nav ul {
        max-width: 700px;
        margin: 0 auto;
    }

    header nav ul li img{
        width: 5.8rem;
    }

    header nav ul li h2 {
        font-size: 2.6rem;
    }
}

