
header {
    width: 100vw;
    height: 4.4rem;
}

.navbar{
    width: 100vw;
    height: 4.4rem;
    position: fixed;
    top: 0;
    left: 0;
    transition: .3s;
    z-index: 1;
}

.navbar-area {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.dropdown-button {
    display: initial;
    border: 0;
    background: transparent;
    cursor: pointer;
    font-size: 3.4rem;
    display: flex;
    align-items: center;
    margin: 0 0.5rem;
}

.logo {
    font-weight: 700;
    font-style: italic;
    font-size: 1.6rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

.menu {
    display: none;
    list-style: none;
    margin-left: 13rem;
}

.menu-item {
    margin-left: 1rem;
    font-size: 1.6rem;
    font-weight: 700;
    padding-right: 1rem;
    border-right: 2px #fff solid;
}

.menu-item:last-child {
    border-right: 0;
}

.search{
    display: none;
    align-content: center;
}

.search input {
    height: 2.7rem;
    width: 17rem;
    border: none;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    font-weight: 700;
    font-style: italic;
    padding-left: .6rem;
    color: #000;
}

.search button {
    height: 2.7rem;
    width: 3rem;
    background: #fff;
    border: 0;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    color: #000;
    display: flex;
    align-content: center;
    justify-content: center;
}

.icon-carrinho img{
    width: 4.4rem;
    height: 4.4rem;
    margin: 0 0.5rem;
}

/* Menu Sidebar */

.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    background: #333;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 6.5rem;
}

.sidenav a {
    padding: 1.5rem 0;
    text-decoration: none;
    font-size: 2.1rem;
    display: block;
    border-bottom: 0.2rem solid #fff;
    color: #fff;
    margin: 0 1rem;
    text-align: center;
}

.closebtn {
    position: absolute;
    top: 0.5rem;
    right: 2.5rem;
    font-size: 3.6rem;
    margin-left: 5.0rem;
    border: 0;
    background: transparent;
}

@media (min-width: 1000px ){

    header {
        height: 6rem;
    }

    .navbar {
        height: 6rem;
    }

    .navbar-area {
        max-width: 1000px;
        margin: 0 auto;
    }

    .dropdown-button {
        display: none;
    }

    .search {
        display: flex;
    }

    .logo {
        font-size: 1.8rem;
    }

    .menu {
        display: flex;
    }
}

