
.nav {
    width: 100vw;
    height: 4.4rem;
}

.navbar{
    width: 100vw;
    height: 4.4rem;
    position: fixed;
    top: 0;
    left: 0;
    transition: .3s;
    z-index: 1;
}

.navbar .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .menu .menu-item {
    flex-direction: row;
    list-style: none;
}

.navbar .menu .menu-item img {
    width: 4.2rem;
    margin: 0 0.5rem;
}

.navbar .menu .menu-item a {
    text-decoration: none;
}

.navbar .menu .menu-item button {
    border: 0;
    background: transparent;
    cursor: pointer;
}


.navbar .menu .menu-item a h2 {
    color: var(--color-fonte-normal);
    font-weight: 700;
    font-style: italic;
    font-size: 1.6rem;
    font-family: Montserrat;
    text-transform: uppercase;
}

header .sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    background: #333;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 6.5rem;
}

header .sidenav a {
    padding: 1.5rem 0;
    text-decoration: none;
    font-size: 2.1rem;
    font-family: Montserrat;
    color: var(--color-fonte-normal);
    display: block;
    border-bottom: 0.2rem solid #fff;
    margin: 0 1rem;
    text-align: center;
}

header .sidenav .closebtn {
    position: absolute;
    top: 0.5rem;
    right: 2.5rem;
    font-size: 3.6rem;
    margin-left: 5.0rem;
    font-family: Montserrat;
    border: 0;
    background: transparent;
}

@media (min-width: 700px ){

    .nav {
        height: 6rem;
    }

    .navbar {
        height: 6rem;
    }

    .navbar .menu {
        max-width: 700px;
        margin: 0 auto;
    }

    .navbar .menu .menu-item img{
        width: 5.8rem;
    }

    .navbar .menu .menu-item h2 {
        font-size: 2.6rem;
    }
}

