main .banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main .carousel {
    width: 100vw;
    margin-top: 2rem;
    position: relative;
    box-sizing: border-box;
    padding: .7rem;
    background: var(--color-menu-bp);
    border-radius: 1rem;
    z-index: -1;
}

main .carousel .carousel-prev,
main .carousel .carousel-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1.6rem;
    font-size: 3rem;
    transform: translate(0, -50%);
    border: 0;
    background: transparent;
}

main .carousel .carousel-prev:hover,
main .carousel .carousel-next:hover {
    background: rgba(0, 0, 0, 0.8);
}

main .carousel .carousel-next {
    right: 0;
}

main .carousel .carousel-item {
    display: none;
}

main .carousel .active {
    display: initial;
}

main .carousel .carousel-item img{
    width: 100%;
    border-radius: .5rem;
}

@media ( min-width: 700px ){
    main .carousel {
        max-width: 900px;
        margin: 3rem auto 0;

    }
}