main .banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

main .banner-container img {
    width: 100%;
    margin: 0;
}

@media ( min-width: 700px ){
    main .banner-container img{
        max-width: 900px;
    }
}