.carousel {
    width: 100%;
    margin-bottom: 2rem;
    position: relative;
    box-sizing: border-box;
    z-index: 0;
}

.carousel .carousel-prev,
.carousel .carousel-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    color: #eee;
    width: auto;
    padding: .6rem;
    font-size: 5rem;
    border: 0;
    background: transparent;
    transform: translate( 0, -70%);
    z-index: 1;
}

.carousel .carousel-next {
    right: 0;
}

.carousel-options {
    display: none;
    max-width: 9rem;
    height: 4rem;
    color: var(--color-red-primary);
    font-size: 1.6rem;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}


@media ( min-width: 1000px ){
    .carousel {
        max-width: 1000px;
        margin: 3rem auto;
        margin-bottom: 2rem;
    }

    .carousel-options{
        display: flex;
    }

    .carousel .carousel-prev:hover,
    .carousel .carousel-next:hover {
        background: rgba(0, 0, 0, 0.8);
    }
}