.mxStore {
    background: var(--color-bg-mx1);
    min-height: 76vh;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
}

@media ( min-width: 700px ){

    .mxStore

    .products-container {
        max-width: 900px;
        margin: 0 auto;
    }
}