.btsStore {
    background: var(--color-bg-bts);
    min-height: 76vh;
}

.btsStore .products-container {
    display: flex;
    flex-wrap: wrap;
}

@media ( min-width: 700px ){

    .btsStore .products-container {
        max-width: 900px;
        margin: 0 auto;
    }
}