.carousel {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    background: var(--color-menu-bp);
    z-index: 0;
}

.carousel .carousel-prev,
.carousel .carousel-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    color: #eee;
    width: auto;
    padding: 1.6rem;
    font-size: 3rem;
    border: 0;
    background: transparent;
    transform: translate( 0, -50%);
    z-index: 1;
}

.carousel .carousel-next {
    right: 0;
}


@media ( min-width: 700px ){
    .carousel {
        max-width: 900px;
        margin: 0 auto;
    }

    .carousel .carousel-prev:hover,
    .carousel .carousel-next:hover {
        background: rgba(0, 0, 0, 0.8);
    }
}