:root {
    font-size: 60%;

    --color-menu-principal: #AB1A21;
    --color-rodape-principal: #671010;
    --color-fonte-normal: #FFFFFF;
    --color-fonte-secundaria: #666666;
    --color-menu-mx1: #4006A9;
    --color-bg-mx1: #390EA4;
    --color-fonte-mx1: #FF4CC4;
    --color-caixa-mx1: #1E0250;
    --color-rodape-mx1: #2C0475;
    --color-menu-bts: #C8444B;
    --color-rodape-bts: #7A272C;
    --color-caixa-bts: #290D0F;
    --color-bg-preto: #000;
    --color-menu-bp: #151515;
    --color-caixa-bp: #361B28;
    --color-fonte-bp: #FF90C4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

body {
    background: #000;
}

#root {
    display: flex;
}

body,
input,
button,
textarea {
    color: var(--color-fonte-normal);
}

.container{
    width: 100%;
    max-width: 900px;
}

@media( min-width: 700px ) {
    :root {
        font-size: 62.5%;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }    

    ::-webkit-scrollbar-track{
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background: #888; 
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }

}